<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title th:text="#{jobkit.regularprocessrunner.errormailtitle}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1 th:text="#{jobkit.regularprocessrunner.errormailtitle}"></h1>
	<p th:text="#{jobkit.regularprocessrunner.errorexec(serviceName, execName)}"></p>
    <small
        th:if="${not #strings.isEmpty(comment)}" 
        th:text="#{jobkit.regularprocessrunner.description(comment))}"></small>
    <p>
        <span th:text="#{jobkit.regularprocessrunner.cmdline}"></span>
        <code th:text="${commandLine}"></code>    
    </p>
    <p>
        <span th:text="#{jobkit.regularprocessrunner.errorreason}"></span>
        <pre 
            th:if="${not #strings.isEmpty(stderr)}"
            th:text="#{stderr}"></pre>
        <pre 
            th:if="${not #strings.isEmpty(stackTrace)}"
            th:text="#{stackTrace}"></pre>
        <pre 
            th:if="${not #strings.isEmpty(stdout)}"
            th:text="#{stdout}"></pre>
        <p
            th:if="${not #strings.isEmpty(workingDir)}" 
            th:text="#{jobkit.regularprocessrunner.workingdir(workingDir))}"></p>
    </p>
    <hr />
    <p th:text="#{jobkit.regularprocessrunner.sendedby"></p>
</body>
</html>
